<%= render "banner" %>

<p id="notice"><%= notice %></p>


<div class="container">
  <div class="row">
    <% @workouts.each do |workout| %>
      <div class="col-12 col-md-6 col-lg-4">
        <div class="card my-4">
        <img src="https://picsum.photos/200" class="card-img-top">
        <div class="card-body">
          <h4 class="card-title"><%= link_to workout['name'], workout_path(workout['id']) %></h4>
          <p class="card-text"><%= workout['details'] %></p>
          <p class="card-text"><%= workout['difficulty_level'] %></p>

        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>


<br>

    <%# <img src= "/app/assets/images/man-working-out-2294361.jpg" alt="man working out"> %>
