<p id="notice"><%= notice %></p>

<div class="container mt-4">
  <h4 class="mt-4 mb-2"><%= @workout.name %></h4>

  <%= link_to 'Edit', edit_workout_path(@workout.id) %> |
  <%= link_to 'Delete', destroy_workouts_path(@workout), method: :delete, data: { confirm: "Are you sure?" } %>


  <p>Details:<%= @workout.details %></p>
  <p>Difficulty Level:<%= @workout.difficulty_level %></p>
  <p>Equipment Needed:<%= @workout.equipment %></p>

  </ul>
</div>
</div>
</div>

<hr>

<div class="container mt-4">
  <h4 class="mt-4 mb-2">Exercises to do:</h4>
  <% if @workout.exercises.empty? %>
  <p>There are no exercises in this workout, add some below</p>
  <% else %>
  <table class="table table-bordered">
    <tbody>
      <thead>
        <th>Exercise</th>
        <th>Reps</th>
        <th>Details</th>
        <th>Action</th>
      </thead>
      <% @workout.amounts.each do |amount| %>
      <tr>
        <td><%= amount.exercise.name %></td>
        <td><%= amount.reps %></td>
        <td><%= amount.content %></td>
        <td>
          <%= link_to workout_amount_path(amount), method: :delete, data: { confirm: "Are you sure?" } do %>
          <% end %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>


  <% end %>
</div>


<hr>
<div class="container mt-4">
  <h4 class="mt-4 mb-2">Add an Exercise to Workout:</h4>
  <%= simple_form_for [@workout, @amount] do |f| %>
  <%= f.association :exercise, input_html: { class: "beautiful-dropdown" }, include_hidden: false %>
  <%= f.input :reps  %>
  <%= f.input(:content, components: [:input], :wrapper => false, label: "Details") %>
<br>
  <%= f.button :submit, "Add Exercise to Workout", class: "btn-outline-secondary"%>
  <% end %>
  <hr>
</div>



<%# <h3>Reviews to be created:</h3> %>