<p id="notice"><%= notice %></p>

<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-12 col-md-10 col-lg-8">
      <h2><%= @workout.name %></h2>
      <p><%= @workout.details %></p>
      <p><%= @workout.difficulty_level %></p>
      <p><%= @workout.equipment %></p>

      <hr>

      <h4 class="mt-4 mb-2">Exercises to do:</h4>
      <% if @workout.exercises.empty? %>
      <p>There are no exercises in this workout</p>
      <% else %>
      <ul class="list-group">
        <% @workout.exercises.each do |exercise| %>
        <li class="list-group-item list-group-item-primary"><%= exercise.name %></li>
        <% end %>
      </ul>
      <% end %>

      <hr>
      <h4 class="mt-4 mb-2">Action</h4>
      <ul class="list-group">
      <li>TEST</li>
        <% @workout.amounts.each do |amount| %>
        <li class="list-group-item list-group-item-primary"><%= amount.exercise.name %></li>
        <li class="list-group-item list-group-item-primary"><%= amount.content %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>



<%= link_to 'Edit', edit_workout_path(@workout), class: "btn btn-success" %> |
<%= link_to 'Back', workouts_path %>

<hr>

<h3>Reviews to be created:</h3>