<div class="navbar navbar-expand-sm navbar-light navbar-lewagon fixed-top">
  <%= link_to "#", class: "navbar-brand" do %>
  <%= image_tag "" %>
  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">

    <ul class="navbar-nav mr-auto">
      <li class="nav-item" id="nav-giphy">
        <iframe src="https://giphy.com/embed/10l2FXjFq1rXKU" height="72" frameBorder="0" 
          allowFullScreen></iframe>
        <p><a href="https://giphy.com/gifs/black-and-white-game-jump-10l2FXjFq1rXKU"></a></p>
      </li>
      <li class="nav-item">
        <%= link_to "All Workouts (Cocktails)", root_path, class: "nav-link" %>
      </li>

      <%# <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form> %>
      <li class="nav-item">
        <%= link_to "New Workout", new_workout_path, class: "nav-link" %>
      </li>

      <li class="nav-item">
        <%= link_to "All Exercises (Ingredients)", exercises_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "New Exercise", new_exercise_path, class: "nav-link" %>
      </li>
      <li class="nav-item dropdown">
        <%= image_tag "https://kitt.lewagon.com/placeholder/users/mollycalypso", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <%= link_to "Login", "#", class: "dropdown-item" %>
          <%= link_to "Another action", "#", class: "dropdown-item" %>
        </div>
      </li>
    </ul>
  </div>
</div>